@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/OpenSauce/OpenSauceTwo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/OpenSauce/OpenSauceTwo-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "OpenSauceTwo";
  src: url("/fonts/OpenSauce/OpenSauceTwo-ExtraBold.ttf");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "OpenSauceSans";
  src: url("/fonts/OpenSauce/OpenSauceSans-ExtraBold.ttf");
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}

:root {
  --primary-color: #f06060;
  --secondary-color: #492c4e;
  --tertiary-color: #b093b5;
  --background-color: #eeecec;
  --gray-900: #1a202b;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #cbd5e0;
  --gray-400: #e2e8f0;
  --font-5xl: 7.478rem;
  --font-4xl: 5.61rem;
  --font-3xl: 4.209rem;
  --font-2xl: 3.157rem;
  --font-xl: 2.396rem;
  --font-lg: 1.77rem;
  --font-md: 1.33rem;
  --font-base: 1rem;
  --font-sm: 0.88rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sauce Two", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--background-color);
  color: var(--gray-900);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
