.article {
    padding: 2rem 0;
    border-bottom: 1px solid #efefef;
}

.article:last-child {
    border-bottom: none;
}

.article p {
    max-width: 65ch;
}

.articleTitle {
    font-size: var(--font-lg);
    margin-top: 0.5rem;
}